.card__lang-select
{
    .button_theme_islands
    {
        background: transparent;

        &:before
        {
            background: 0;
            border: 1px solid rgba(0,0,0,.2);
        }

        &.button_hovered
        {
            background: none;

            &:before
            {
                border-color: rgba(0,0,0,.3)
            }
        }
    }

}
