.company
{
    width: 1140px;

    margin: 0 auto;
}

.company__perm-company,
.company__perm-claster,
.company__last-check,
.company__company-link,
.company__header-key
{
    display: inline-block;
}

.company__perm-company,
.company__perm-claster,
.company__last-check,
.company__company-link
{
    margin-right: 20px;
}

.company__header-key
{
    color: #9b9b9b;
}
