.card
{
    width: 1140px;

    margin: 0 auto;
}

.card__perm-card,
.card__perm-claster,
.card__last-check,
.card__card-link,
.card__header-key
{
    display: inline-block;
}

.card__perm-card,
.card__perm-claster,
.card__last-check,
.card__card-link,
.card__header-key,
.select.card__lang-select
{
    vertical-align: middle;
}

.card__perm-card,
.card__perm-claster,
.card__last-check,
.card__card-link
{
    margin-right: 20px;
}

.card__header-key
{
    color: grey;
}
