.company .company__header // вес нужен, чтобы перебить стиль селекта
{
    font-size: 14px;

    padding: 16px 0;

    > *
    {
        display: inline-block;

        vertical-align: middle;
    }
}
